<!DOCTYPE html>
<html lang="en-us" ng-app="myApp">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="hoangps, hoang, phan,hoangphan, music library,music,soundcloud">
    <meta name="description" content="A handful music player application for web. Provide library functionality.">
    <meta name="author" content="Hoang Phan">
    <title>My Music Library | HoangPS</title>
    <link rel="icon" href="favicon.png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous" />
    <link rel="stylesheet" href="styles.css" />
    <script src="angular.min.js"></script>
</head>

<body ng-controller="mainController"></body>
    <div class="header">
        <div class="container">
            <h1>My Music Library</h1>
        </div>
    </div>
    <div id="content" class="container main-content">
        <div>
            <div class="alert-wrapper">
                <div uib-alert ng-repeat="alert in alerts" ng-class="'alert-' + (alert.type || 'warning')" dismiss-on-timeout="5000" close="closeAlert($index)">{{alert.msg}}</div>
            </div>
            <search></search>
            <div class="actions">
                <a href="#" class="btn btn-default" ng-click="displayLibrary()" ng-hide="showLibrary">My music library</a>
                <a href="#" class="btn btn-default" ng-click="hideLibrary()" ng-show="showLibrary && profileSelected">
                    Back to <strong>{{ !userProfile.full_name ? userProfile.username : userProfile.full_name }}</strong>
                </a>
            </div>
            <div class="user-library" ng-show="showLibrary">
                <div class="col-md-6">
                    <h2>Your Music Library</h2>
                    <span>You have <strong>{{library.playlists[0].originalTrackList.length || 0}}</strong> tracks in your library</span>
                </div>
                <div id="user-track-list" class="track-list col-md-6" ng-show="library.playlists[0].tracks.length > 0">
                    <h2>Your tracks</h2>
                    <ul>
                        <li ng-repeat="track in library.playlists[0].tracks">
                            <span class="btn-delete" ng-click="removeFromPlaylist(library.playlists[0].pageIndex*10 + $index)" title="Remove from playlist"></span>
                            <span class="btn-play" ng-click="player.play(library.playlists[0].originalTrackList, track)" ng-hide="track.id == player.track.id && player.isPlaying"></span>
                            <span class="btn-pause" ng-click="player.pause()" ng-show="track.id == player.track.id && player.isPlaying"></span>
                            <span class="track-index">{{library.playlists[0].pageIndex*10 + $index + 1}}</span>
                            <span class="track-title">{{track.title}} - {{track.user.username}} - {{getTrackDuration(track.duration)}}</span>
                        </li>
                    </ul>
                    <library-pagination></library-pagination>
                </div>
            </div>
            <div class="user-information row" ng-show="!showLibrary && profileSelected">
                <div class="user-profile col-md-6">
                    <h2>User Profile</h2>
                    <div class="form-group">
                        <img ng-src="{{userProfile.avatar_url}}" />
                        <input type=hidden value="{{userProfile.id}}" />
                        <label class="profile-name">
                            <h3>{{ !userProfile.full_name ? userProfile.username : userProfile.full_name }}</h3>
                            <a href="{{userProfile.permalink_url}}" target="_blank">View profile</a>
                        </label>
                    </div>
                    <div class="form-group">
                        <input type="button" class="btn btn-default" value="View details" ng-click="showList('tracks', 'Tracks')"></input>
                        <label class="profile-stats"><strong>Tracks: </strong>{{ userProfile.track_count }}</label>
                    </div>
                    <div class="form-group">
                        <input type="button" class="btn btn-default" value="View details" ng-click="showList('playlists', 'Playlists')"></input>
                        <label class="profile-stats"><strong>Playlists: </strong>{{ userProfile.playlist_count }}</label>
                    </div>
                    <div class="form-group">
                        <input type="button" class="btn btn-default" value="View details" ng-click="showList('favorites', 'Likes')"></input>
                        <label class="profile-stats"><strong>Favorites: </strong>{{ userProfile.public_favorites_count }}</label>
                    </div>
                    <div class="user-playlists" ng-show="trackList.listType == 'playlist'">
                        <h3>Playlists</h3>
                        <ul>
                            <li ng-repeat="track in trackList.tracks">
                                <span class="btn-add" ng-click="addToPlaylist(track)" title="Add to playlist"></span>
                                <span class="btn-play" ng-click="player.play(trackList.originalTrackList, track)" ng-hide="track.id == player.track.id && player.isPlaying"></span>
                                <span class="btn-pause" ng-click="player.pause()" ng-show="track.id == player.track.id && player.isPlaying"></span>
                                <!--<span class="track-index">{{trackList.pageIndex*10 + $index + 1}}</span>-->
                                <span class="track-title">{{trackList.pageIndex*10 + $index + 1}}. {{track.title}} - {{track.user.username}} - {{getTrackDuration(track.duration)}}</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div id="track-list" class="track-list col-md-6" ng-show="trackList.tracks.length > 0">
                    <h2>{{trackList.listName}}</h2>
                    <ul>
                        <li ng-repeat="track in trackList.tracks">
                            <span class="btn-add" ng-click="addToPlaylist(track)" title="Add to playlist"></span>
                            <span class="btn-play" ng-click="player.play(trackList.originalTrackList, track)" ng-hide="track.id == player.track.id && player.isPlaying"></span>
                            <span class="btn-pause" ng-click="player.pause()" ng-show="track.id == player.track.id && player.isPlaying"></span>
                            <!--<span class="track-index">{{trackList.pageIndex*10 + $index + 1}}</span>-->
                            <span class="track-title">{{trackList.pageIndex*10 + $index + 1}}. {{track.title}} - {{track.user.username}} - {{getTrackDuration(track.duration)}}</span>
                        </li>
                    </ul>
                    <pagination></pagination>
                </div>
            </div>
        </div>
    </div>
	<div class="stats">
        <div class="left">
		    <a title="web stats" href="http://statcounter.com/" target="_blank"><img src="//c.statcounter.com/11203517/0/57cc8636/0/" alt="web stats" style="border:none;"></a>
        </div>
        <div class="right">
            <span class="credits">Developed by <a href="https://facebook.com/pshoang" target="_blank">HoangPS</a></span>
        </div>
	</div>
    <footer-music-player></footer-music-player>

    <script src="https://connect.soundcloud.com/sdk/sdk-3.1.2.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.11/ngStorage.min.js"></script>
    <script src="app.js"></script>
    <script src="services/stringCutFilter.js"></script>
    <script src="services/anchorSmoothScrollService.js"></script>
    <script src="ui-bootstrap-tpls-2.4.0.min.js"></script>
</body>

</html>
