<h2>{{trackList.listName}}</h2>
<ul>
    <li ng-repeat="track in trackList.tracks">
        <span class="btn-play" ng-click="player.play(track)" ng-hide="track.id == player.track.id && player.isPlaying"></span>
        <span class="btn-pause" ng-click="player.pause()" ng-show="track.id == player.track.id && player.isPlaying"></span>
        <span class="track-index">{{trackList.pageIndex*10 + $index + 1}}</span>
        <span class="track-title">{{track.title}} - {{track.user.username}} - {{getTrackDuration(track.duration)}}</span>
    </li>
</ul>